@font-face {
  font-family: 'PS2P';
  src: url('PressStart2P.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ogham';
  src: url('ogham.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


img {
  max-width: inherit;
}

body {
  font-family: 'Futura', Courier, monospace;
  background-color: #444;
  color: #fff;
  padding: 0em;
  margin-top: 0em;
}

.content img {
  max-width: 90%;
}

h2, h3 {
  font-family: 'PS2P';
  color: #939af5;
}

.ogham-subtitle {
  margin-right: 2em;
  white-space: nowrap;
  writing-mode: tb-rl; 
  transform: rotate(180deg)
  font-family: 'ogham';
  color: #fff;
  font-size: 30px;
  float: left;
}
/*
.home-post {
  font-family: 'ogham', 'PS2P', sans-serif;
  color: teal;
  font-size: 40px;
}*/

.post img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: 'PS2P';
  color: #939af5;
  font-size: 30px;
}

p, li {
  color: #eee;
  font-size: 24px;
  line-height: 1.5;
}

blockquote {
  border-left: 5px solid #c085ff;
  padding: 0.5em;
  margin: 0.5em;
}


/* Code */
pre {
  font-family: 'Courier New', Courier, monospace;
  overflow: scroll;
  background-color: #444;
  color: #fff;
  padding: 0.5em;
  margin: 0.5em;
  width: 800px;
  font-size: 24px;
}

.row {
  display: grid;
}

.column {
  max-width: 80em;
  align: center;
  padding: 1em;
}

#project_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 0px 0px 5px #939af5;
  text-align: center;
  padding: 1em;
  margin: 2em 0;
  max-width: 45%;
}


.card h3 {
  text-align: center;
}


.card a {
  text-align: center;
  color: white;
  font-family: 'PS2P';
  font-size: 20px;
  transition: color 0.5s ease-in-out;
  padding: 3px;
}

.card a:hover {
  color: #ff6f00;
  text-decoration: none!important;
}

.header{
  background-color: #444;
  position: sticky;
  top: 0;
  padding-top: 1.5em;
  width: 100%;
  box-shadow: 0px 2px #939af5;
}


.logo {
  display:inline-block;
  text-decoration: none!important;
}


a:hover .logo {
  color: #ff6f00;
  transition: color 0.5s ease-in-out;
  text-decoration: none;
}

a .logo {
  color: white;
  font-size: 40px;
  font-family: 'PS2P';
  margin-left: 10px;
  text-decoration: none;
}

.nav{
  z-index: 100;
  position: fixed;
  float: right;
  top: 0px;
  right: 70px;
  background-color: gold;

  border-radius: 0px 0px 30px 30px;
  overflow: hidden;   
  max-height: 0;
  transition: max-height .3s ease-in-out;
}

.nav a {
  color: white;
  font-family: 'PS2P';
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  padding: 3px;
}

.nav a:hover {
  border-radius: 5px;
  color: #ff6f00;
  text-decoration: none;
  background-color: #fffacd;
}


/* Menu Icon */

.hamb{
  cursor: pointer;
  float: right;
  padding: 20px 10px;
}

.hamb-line {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;  
}

.hamb-line::before,
.hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .1s ease-in-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}

.side-menu {
  display: none;
}

.menu {
  cursor: pointer;
  text-align: right;
  font-family: 'PS2P';
  list-style: none;
  padding-right: 2em;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 10em;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}



/* defaults */

a {
  color: #eee;
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}

p a {
  text-decoration: underline;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}


.welcome {
  text-align: center;
}



@media (pointer:fine), (min-width: 1200px) {
  p, li {
    color: #eee;
    font-size: 16px;
    line-height: 1.5;
  }

  pre {
    font-size: 16px;
  }

  .ogham-subtitle {
    font-size: 20px;
  }


  .row {
    grid-template-columns: 30% 70%;
  }

  .card a {
    text-align: center;
  }

  .card {
    text-align: left;
    max-width: 100%;
  }

  #project_cards {
    display: inline;
    flex-wrap: none;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  #post_cards {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }
}
