<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles.css">
  <title> Wtf, jik? </title>
</head>

<body>

  {% include "nav.html" %}

  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>

</body>

</html>