{% extends "base.html" %}

{% block content %}

  <div class="row">

    <!-- Left Column, Projects -->
    <div class="column" id="project_cards">
      {% include "project_cards.html" %}
    </div>


    <!-- Right Column, Posts -->
    <div class="column" id="post_list">

      <!--
      <div>
        <h3>
          <a href="/">Jik</a>
        </h3>
        <p>Git style activity feed here for atproto</p>
      </div>
      -->
      <div class="welcome">
        <h1>{{ section.title }}</h1>
        {{ section.content | safe }}
      </div>
      <h2>Blog Posts</h2>
      {% include "post_list.html" %}
    </div>

  </div>


{% endblock %}