<!-- Navigation bar -->
<header class="header">
    <div class="titlebar">
        <!-- Logo -->
        <a href="/" class="logo">
            <div class="logo">
                JIK.wtf
            </div>
        </a>

        <!-- Hamburger icon -->
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu">
            <span class="hamb-line"></span>
        </label>
    

    <!-- Menu -->
    <nav class="nav">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/now">Now</a> </li>
            <li><a href="/about-this-site">About this Site</a></li>
        </ul>
    </nav>
    </div>
</header>