<ul>
  {% set blog_section = get_section(path="blog/_index.md") %}
  {% for page in blog_section.pages %}
    <li><a href="{{ page.permalink | safe }}" class="underline">{{ page.title }}</a></li>
  {% endfor %}
</ul>

<hr>

<div class="content">
  {% for page in blog_section.pages %}
    <div class="ogham-subtitle">
      {{ page.extra.ogham }}
    </div>

    <h1>
      {{ page.title }}
    </h1>
    {{ page.date }}
    
    {{ page.content | safe }}

    <hr>
  {% endfor %}
<div>