<div class="card">
  <h3>
    <a href="https://gitlab.com/jmcasey/skysail">Skysail</a>
  </h3>
  <img src="distributed_decentralised.jpeg">
  <p>Distributed Identities, and a Decentralised Social Web.</p>
</div>

<div class="card">
  <h3>
    <a href="https://gitlab.com/jmcasey/Solar-System-Simulation">Solar System Simulation</a></h3>
  <img src="solar_system_annotated.png">
  <p>Numerical Methods in MATLAB</p>
</div>